body{
	font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}
div{
	border: 1px solid #b9b9b9;
	border-collapse: collapse;
}

div.contents{
	width: 960px;
	/*センタリング*/
	margin: 0 auto;
}
div.logo{
	display: table-cell;
	width: 320px;
	height: 240px;
	/*background-color: #ffccff;*/
	text-align: center;
	vertical-align: middle;
}
div.panelAndDamage{
	/*background-color: #ccccff;*/
	width: 320px;
	height: 200px;
	display: table-cell;
}
div.part{
	width: 960px;
	display: table;
}
div.history{
	display: table-cell;
	width: 320px;
}
div.menu{
	/*background-color: #ffcccc;*/
	width: 320px;
	display: table-cell;
}
input.option{
	width: 40px;
}
table{
	border: 1px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}
td{
	padding: 2px;
	text-align: center;
	width: 50px;
	height: 50px;
	background-color: #eeeeee;
	border: 1px solid #b9b9b9;
}
select.panel{
	text-align: center;
	
}
