body{
	font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}
#contents{
	width: 960px;
	/*センタリング*/
	margin: 0 auto;
}
div.menu{
	width: 315px;
	display: inline-block;
}
input.option{
	width: 40px;
}
